 body {
	font-family: 'Black Han Sans', sans-serif;
	font-weight: 100;
	color:blue;
  
  
}

h6,
h5,
h4,
h3,
h2,
h1 {
	font-family: 'Suez One', serif;
	font-weight: 200;
	
	
	

}
	
img {width:150px}
#footer {background-color:#0A112C;color:#9E5F91;}

#lowerfooter {background-color:#9E5F91;}

#lowerfooter i {font-size:60px;color:#0A112C;margin:16px 7px 20px 25px;}

#products i {font-size:60px;color:#0A112C;margin:16px 7px 20px 25px }

#products {font-size:60px;color:#9E5F91}